@model IEnumerable<Product>

@{
    ViewData["Title"] = "Products";
}

<h2>Today Promotions</h2>

@foreach(Product p in Model)
{
    @Html.Partial("ProductSummary", p)
}

<a asp-controller="Products" 
   asp-action="List" 
   class="btn btn-info">
    View all products
</a>