@model ProductsListViewModel

@{
    ViewData["Title"] = "List";
}

<h2>Products List</h2>

@foreach (Product p in Model.Products){ //Para cada produto p contido no modelo, percorre a lista de produtos
    @Html.Partial("ProductSummary", p);

    <hr />
}

<div page-model="@Model.PagingInfo" 
     page-action="List" 
     css-classes-enable="true" 
     css-classe-page="btn btn-sm" 
     css-classe-page-normal="btn-default" 
     css-classe-page-selected="btn-primary"
     class="pull-right">
</div>

